//In here I define variables for colors, sizes and basically everything that could repeat multiple times throughout the app.

$primary-color: red !important;
$secondary-color: #9f3333 !important;
$background-color: #f9f9f9 !important;
$text-color: #000 !important;
$border-radius: 8px;